.authorization {
  background-color: var(--black-blue);
  border-radius: 0 0 31px 26px;
}

.authorization__wrap {
  display: grid;
  grid-template: repeat(4, auto)/auto;
  padding: 74px 0 0 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: var(--basic-white);
}

.authorization__suggest {
  margin: 0;
  padding: 0 0 22px 31px;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: var(--special-orange);
}

.authorization__expectation {
  margin: 0;
  text-align: center;
  padding: 0 39px 28px 30px;
}

.authorization__link {
  color: var(--white-yellow)
}

.authorization__form {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}

.authorization__email,
.authorization__btn {
  border: none;
  outline: none;
  border-radius: 10px;
}

.authorization__email {
  margin: 0 -55px 0 0;
  padding: 23px 83px 23px 21px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: var(--origin-gray);
    opacity: 0.3;
  }
}

.authorization__btn {
  padding: 5px 5px 5px 55px;
  background-color: var(--white-yellow);
}

.authorization__name {
  display: none;
}

.contacts__text {
  margin: 0;
  padding: 0 28px 31px 22px;
  text-align: center;
  letter-spacing: 0.2px
}

.contacts__phone,
.contacts__email {
  display: block;
  padding: 0 0 23px 61px;
  color: var(--white-yellow);
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
}

.contacts__email {
  padding-bottom: 37px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .authorization {
    border-radius: 0 0 60px 60px;
  }

  .authorization__wrap {
    padding-top: 54px;
    padding-bottom: 80px;
    font-size: 28px;
  }

  .authorization__suggest {
    padding: 0 0 60px 0;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 2px;
  }

  .authorization__expectation {
    padding-bottom: 68px;
    line-height: 32px;
  }

  .authorization__form {
    padding-bottom: 60px;
  }

  .authorization__email {
    margin: 0 -75px 0 0;
    padding: 35px 409px 29px 39px;
    border-radius: 20px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .authorization__btn {
    padding: 5px 43px 5px 40px;
    border-radius: 0 20px 20px 0;
  }

  .contacts__text {
    margin: 0;
    padding: 0 8px 70px 16px;
    letter-spacing: 0.5px;
  }

  .contacts__phone,
  .contacts__email {
    padding-left: 126px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  .contacts__phone {
    padding-bottom: 39px;
  }

  .contacts__email {
    padding-bottom: 0;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .authorization {
  }

  .authorization__wrap {
    grid-template: repeat(5,auto)/repeat(2,1fr);
    padding: 105px 0 136px 0;
  }

  .authorization__suggest {
    grid-area: 1/1/2/3;
  }

  .authorization__expectation {
    grid-area: 2/1/3/3;
    padding: 0 263px 62px 275px;
    line-height: 31px;
  }

  .authorization__form {
    grid-area: 3/1/4/3;
    padding-bottom: 72px;
  }

  .authorization__email {
    margin: 0 -109px 0 0;
    padding: 35px 759px 29px 39px;
  }

  .authorization__btn {
    padding: 5px 151px 5px 34px;
  }

  .authorization__name {
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--special-blue);
  }

  .contacts {
    display: contents;
  }

  .contacts__text {
    grid-area: 4/1/5/3;
    padding: 0 0 80px 0;
  }

  .contacts__phone {
    grid-area: 5/1/6/2;
    padding: 0 0 0 240px;
    text-align: center;
  }

  .contacts__email {
    grid-area: 5/2/6/3;
    padding: 0 0 0 127px;
  }
}
