.circle-bar__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #000;
  opacity: 0.6;
  border-radius: 50%;
}

.circle-bar__field {
  width: 100%;
  height: 100%;
}

.circle-bar__svg {
  position: relative;
  width: 100%;
  height: 100%;

}

.circle-bar__circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 4;
  stroke-dasharray: 125 10;
  stroke-dashoffset: -132;
  stroke-linecap: round;

  &--1 {
    stroke-dashoffset: 0;
  }

  &--2 {
    stroke-dashoffset: calc(130 - (130 * 99) / 100);
    stroke: var(--special-orange);
  }
}

.circle-bar__reached-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);

  &::before {
    position: absolute;
    top: 33px;
    content: "";
    width: 30px;
    height: 0.5px;
    background-color: var(--basic-white);
  }
}

.circle-bar__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.circle-bar__level {
  font-size: 14px;
  line-height: 14px;

}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
