.filter {
  position: relative;
  margin-bottom: -16px;
  grid-row: 2/3;
  min-height: 66px;
  max-height: 0;
  font-family: inherit;
  --filter-bg: var(--light-blue-2);
  background-color: var(--filter-bg);
  border-radius: 0 0 25px 25px;
  z-index: -5;
}

.filter__wrap {
  padding: 33px 0 0 0;
  text-align: left;
  font-size: 16px;
}

.filter-close {
  top: 31px;
  display: none;
}

.filter__btn {
  display: none;

  &:checked ~ .filter {
    position: absolute;
    top: 380px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 320px;
    height: auto;
    max-height: fit-content;
    z-index: -2;
  }

  &:checked ~ .filter .filter__wrap {
    padding-bottom: 31px;
  }

  &:checked ~ .filter .filter-open {
    display: none;
  }

  &:checked ~ .filter .filter-close {
    display: block;
  }

  &:checked ~ .filter .filter__tittle {
    padding-bottom: 9px;
  }
}

.filter__ahead-block {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  align-items: center;
}

.filter-close,
.filter-open {
  order: 2;
  align-self: self-start;
  max-height: 0;
  color: var(--black-blue);
  fill: currentcolor;
  -webkit-tap-highlight-color: var(--trasparent);
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.continents {
  order: 3;
  padding: 0 0 24px 26px;
}

.filter__word {
  display: none;
}

.filter-open__svg,
.filter-close__svg {
  display: block;
  padding-top: 7px;
}

.filter-close__svg {
  padding-top: 0;
}

.filter__modal,
.continents {
  display: none;
}

.filter__btn:checked ~ .filter .filter__modal,
.filter__btn:checked ~ .filter .continents {
  display: block;
}

.continents__name,
.filter__tittle {
  margin: 0;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-size: inherit;
  line-height: 18px;
  font-weight: bold;
  color: var(--black-blue);
}

.continents__name:hover {
  opacity: 0.6;
}

.continents__name:active {
  opacity: 1;
}

.filter__tittle {
  order: 1;

  & .filter__img {
    padding-right: 5px;
    fill: currentcolor;
  }
}

.continents__item {
  padding: 0 0 8px 0;

  &:last-child {
    padding: 0;
  }
}

.continents__name {
  opacity: 0.3;

  &--first {
    opacity: 1;
  }
}

.filter__list {
  padding: 0 0 23px 25px;
}

.alphabet {
  padding: 0 0 9px 23px;
  max-width: 225px;
}

.alphabet__item-row {
  margin: -2px 0;
  display: flex;
  flex-flow: row wrap;
}

.alphabet__list {
  display: contents;
}

.alphabet__item-cell {
  margin: 1px 0;
}

.alphabet__btn {
  width: 44px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--special-blue);
  background-color: var(--basic-white);
  border-right: 1px solid var(--white-gray);
  border-bottom: 1px solid var(--white-gray);

  &--first {
    color: var(--basic-white);
    background-color: var(--special-blue);
  }
}

.alphabet__list-sorted {
  display: none;
}

.filter__sorted-list {
  padding: 0 0 28px 23px;
}

.filter__location {
  color: var(--origin-gray);
  line-height: 22px;
}

.filter__close-btn {
  display: none;
}

.filter__label-close {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 11px 81px 7px 108px;
  box-sizing: border-box;
  min-width: 270px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background-color: var(--one-more-gray);
  border: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: var(--trasparent);
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.filter__label-close .filter-close__svg {
  position: absolute;
  top: 0.8em;
  left: 83px;
  width: 15px;
  height: 15px;
}

@media (min-width: $tablet-width) {

  .filter {
    margin-bottom: 7px;
    min-height: 186px;
    border-radius: 0 0 55px 55px;

    .filter__btn:checked ~ & {
      top: 355px;
    }
  }

  .filter__wrap {
    grid-template-columns: minmax(350px, auto) auto;
    grid-template-rows: repeat(3, auto);
    padding-top: 108px;
    font-size: 20px;

    .filter__btn:checked ~ .filter & {
      padding-top: 0;
      padding-bottom: 79px;
    }
  }

  .filter__ahead-block {
    flex-flow: initial;
    justify-content: initial;
    align-items: baseline;
    gap: 73px;
    max-height: 0;

    .filter__btn:checked ~ .filter & {
      position: absolute;
      top: 228px;
      gap: 82px;
      padding-bottom: 0;
    }
  }

  .filter__tittle {
    display: none;
  }

  .filter__word {
    display: inline-block;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    .filter__btn:checked ~ .filter & {
      transform: translateY(-4px);
    }
  }

  .filter-open__svg {
    display: inline;
    width: 30px;
    height: 7px;
  }

  .filter-close__svg {
    display: inline;
    width: 23px;
    height: 23px;
  }

  .continents,
  .filter__btn:checked ~ .filter .continents {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    max-height: 0;
    column-gap: 30px;
    padding: 0 0 50px 32px;
  }


  .filter__btn:checked ~ .filter .filter__modal {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
    grid-row: 2/4;
    padding-top: 311px;
    padding-bottom: 0;
  }

  .continents__name {
    line-height: 20px;
  }

  .mobile {
    display: none;
  }

  .alphabet {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-flow: row;
    row-gap: 26px;
    padding: 0 0 65px 29px;
    max-width: 352px;
  }

  .alphabet__item-row {
    justify-content: stretch;
    gap: 33px;
  }

  .alphabet__list {
    display: contents;
  }

  .alphabet__item-cell {
    align-self: center;
  }

  .alphabet__btn {
    height: initial;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: var(--black-blue);
    opacity: 0.3;
    background-color: var(--light-blue-2);
    border: none;

    &--first {
      opacity: 1;
    }
  }

  .filter__sorted-list {
    display: block;
    padding: 0 0 0 38px;
  }

  .filter__location {
    display: inline-block;
    padding-bottom: 7px;
  }

  .filter__label-close {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    grid-area: 3/1/4/3;
    box-sizing: border-box;
    justify-self: center;
    justify-content: center;
    padding: 41px 22px 40px 62px;
    min-width: 615px;
    letter-spacing: 0.5px;
  }

  .filter__label-close .filter-close__svg {
    top: 1.9em;
    left: 242px;
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {

  .filter {
    margin-bottom: 65px;
    grid-column: 1/3;

    .filter__btn:checked ~ & {
      position: relative;
      top: 1329px;
      margin-bottom: -55px;
    }
  }

  .filter__wrap {
    grid-template-columns: max-content;
    grid-template-rows: auto auto 100px;
    justify-content: center;
    padding: 0;
  }

  .filter__ahead-block,
  .filter__btn:checked ~ .filter .filter__ahead-block {
    position: relative;
    top: 231px;
    gap: 0;
  }

  .filter__ahead-block {
    top: 105px;
  }

  .filter__tittle {
    order: 1;
    display: inline-block;
    padding: 0 0 0 21px;
    letter-spacing: 1px;

    .filter__img {
      padding-right: 13px;
      width: 23px;
      height: 15px;
    }
  }

  .continents,
  .filter__btn:checked ~ .filter .continents {
    order: 2;
    gap: 34px;
    padding-left: 28px;
  }

  .filter-close,
  .filter-open {
    order: 3;
    padding-left: 345px;
  }

  .filter__modal {
    position: relative;

    .filter__btn:checked ~ .filter & {
      top: 0;
      grid-template-columns: 1fr;
      padding-bottom: 0;
    }
  }

  .alphabet {
    padding: 0 0 63px 37px;
    row-gap: 32px;
    max-width: 1215px;
  }

  .alphabet__item-row {
    align-items: stretch;
    padding: 14px 0 0 0;
    margin: 0;
    column-gap: 41px;
    flex-wrap: wrap;

    &:nth-of-type(3) {
      padding-bottom: 45px;
    }
  }

  .alphabet__item-cell {
    margin: 0;
    padding: 0;
    align-self: normal;
    min-width: 210px;
  }

  .alphabet__btn {
    padding: 0 25px 33px 0;
    opacity: 1;
  }

  .alphabet__list-sorted {
    display: block;
  }

  .filter__sorted-list {
    display: none;
  }

  .alphabet__location {
    line-height: 30px;
    color: var(--origin-gray);
  }

  .filter__sorted-item {
    display: none;
  }

  .filter__label-close {
    padding: 42px 0 38px 40px;
    min-width: 1320px;
    border-radius: 20px;
  }

  .filter__label-close .filter-close__svg {
    top: 2em;
    left: 45%;
  }
}
