.new-plan {
  position: relative;
  margin-bottom: -21px;
  background-color: var(--one-more-blue);
  border-radius: 30px 30px 0 0;
  z-index: -2;
}

.new-plan__wrap {
  color: var(--origin-blue);
  padding-bottom: 20px;
}

.new-plan__main-title {
  position: relative;
  margin: 0;
  padding: 30px 0 31px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 60px;
    width: 5px;
    height: 6px;
    background-color: var(--special-blue);
    border-radius: 50%;
    box-shadow: 20px 0 0 0 var(--special-blue-30),
    41px 0 0 0 var(--special-blue-30);
  }
}

.new-plan__form {
  border: none;
}

@media (min-width: $tablet-width) {
  .new-plan {
    margin-bottom: -61px;
  }

  .new-plan__wrap {
    padding-bottom: 76px;
  }

  .new-plan__main-title {
    padding: 53px 0 59px 0;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1.4px;

    &::before {
      content: "";
      position: absolute;
      top: 71px;
      right: 68px;
      width: 5px;
      height: 6px;
      background-color: var(--special-blue);
      border-radius: 50%;
      box-shadow: 34px 0 0 0 var(--special-blue-30),
      70px 0 0 0 var(--special-blue-30);
    }
  }

}

@media (min-width: $desktop-width) {
  .new-plan {
    margin-bottom: -100px;
    border-radius: 57px 65px 0 0;
  }

  .new-plan__wrap {
    padding-bottom: 131px;
  }

  .new-plan__main-title {
    padding-left: 70px;
    padding-bottom: 56px;

    &::before {
      display: none;
    }
  }
}
