.footer {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  background-color: var(--basic-white);
  border-radius: 30px 30px 0 0;
  z-index: 1;
}

.footer__wrap {
  padding: 39px 0 16px 0;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 36px;

  & .logo__image {
    fill: var(--black-blue);
  }
}

.social {
  padding-bottom: 36px;
  border-bottom: 1px solid var(--white);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0;
}

.social__link {
  display: block;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  background-color: var(--white-yellow);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;

  &:hover {
    background-color: var(--white-orange);
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--fb {
  background-image: url("../../icons/sprite.svg#facebook-img");
  background-size: 80px;
}

.social__link--vk {
  background-image: url("../../icons/sprite.svg#vkontakte-img");
  background-size: 50px;
}

.social__link--inst {
  background-image: url("../../icons/sprite.svg#instagram-img");
  background-size: 75px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__img {
  object-fit: cover;
}

.copyright__text {
  color: var(--origin-gray)
}

@media (min-width: $tablet-width) {
  .footer {
    border-radius: 69px 69px 0 0;
    font-size: 20px;
    line-height: 20px;
  }

  .footer__wrap {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: self-start;
    padding: 47px 0 0 0;
  }

  .footer__logo {
    padding-top: 9px;
  }

  .social {
    padding-right: 10px;
  }

  .social__link {
    width: 62px;
    height: 62px;
  }

  .social__link--fb {
    background-size: 116px;
  }

  .social__link--vk {
    background-size: 70px;
  }

  .social__link--inst {
    background-size: 100px;
  }

  .copyright {
    padding: 15px 0 0 0;
    gap: 24px;
    align-items: self-start;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    border-radius: 55px 55px 0 0;
  }

  .footer__wrap {
    padding-top: 48px;
  }

  .footer__logo {
    padding-top: 5px;
  }

  .social {
    padding-right: 45px;
  }

  .copyright {
    padding: 15px 0 0 0;
  }
}
