.intro {
  position: relative;
  margin-bottom: -79px;
  background-image: url("../../img/traveller-illustration-mobile@1x.png"),
  url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 223px, center 1px;
  background-color: var(--basic-blue);
  background-size: 192px, 320px;
  background-origin: border-box, border-box;
  background-attachment: fixed, fixed;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/traveller-illustration-mobile@2x.png"),
    url("../../img/globe-back-mobile@2x.jpg");
  }
}

.intro__wrapper {
  flex-flow: column wrap;
}

.intro__title {
  margin-bottom: 245px;
  display: inline-block;
  padding: 21px 7px 0 7px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: var(--basic-white);
}

.intro__list {
  margin: 0 0 -23px 0;
  display: flex;
  align-items: center;
}

.intro__item {
  z-index: 2;
}

.intro__auto {
  padding: 12px 38px 8px 40px;
  min-width: 190px;
  font-size: 17px;
  line-height: 20px;
}

.intro__link {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;

  &--phone {
    background-color: var(--special-orange);
  }

  &--phone:hover {
    background-color: var(--extra-orange);
  }

  &--phone:active,
  &--mail:active {
    opacity: 0.3;
  }

  &--phone::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 12px;
    width: 19px;
    height: 19px;
    background-image: url("../../icons/icon-call.svg");
    background-size: 19px 19px;
  }

  &--mail {
    background-color: var(--special-yellow);
  }

  &--mail:hover {
    background-color: var(--extra-yellow);
  }

  &--mail::before {
    position: absolute;
    right: 11px;
    top: 12px;
    content: "";
    width: 17px;
    height: 14px;
    background-image: url("../../icons/mail-icon.svg");
    background-size: 17px 14px;
  }
}

.intro__reviews {
  display: block;
  position: relative;
  margin: 0;
  padding: 47px 78px 109px 23px;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-shadow: 26px 0 0 0 var(--basic-blue),
  -26px 0 0 0 var(--basic-blue);
}

.reviews__text {
  margin: 0 0 18px 0;
  font-weight: 300;
}

.reviews__footer {
  font-weight: 700;
  letter-spacing: 0.6px;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 0;
    min-height: 863px;
    background-image: url("../../img/traveller-illustration-tablet@1x.png"),
    url("../../img/globe-back-tablet.jpg@1x.jpg");
    background-size: 372px, 768px;
    background-position: 72% 67%, 50% 100%;
    background-attachment: initial;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/traveller-illustration-tablet@2x.png"),
      url("../../img/globe-back-tablet.jpg@2x.jpg");
    }

    &::before {
      display: none;
      background-color: transparent;
    }
  }

  .intro__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 83px;
  }

  .intro__title {
    margin-bottom: 90px;
    grid-area: 1/1/1/3;
    letter-spacing: 3px;
    padding: 27px 126px 0 129px;
    font-size: 60px;
    line-height: 70px;
  }

  .intro__list {
    display: none;
  }

  .intro__reviews {
    padding: 0 14px 0 31px;
    grid-area: 2/1/3/2;
    background-color: transparent;
    box-shadow: none;
  }

  .reviews__text {
    margin-bottom: 46px;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }

  .reviews__footer {
    display: block;
    letter-spacing: 0.9px;
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: -220px;
    min-height: 650px;
    background-image: url("../../img/traveller-illustration-desktop@x1.png"),
    url("../../img/globe-back-desktop@1x.png");
    background-size: 431px, 1450px;
    background-position: 60% 23px, 37% -89px;
    background-color: var(--black-blue);
    border-radius: 0 0 74px 71px;
    z-index: 8;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/traveller-illustration-desktop@2x.png"),
      url("../../img/globe-back-desktop@2x.png");
    }
  }

  .intro__wrapper {
    column-gap: 378px;
    padding-top: 117px;
    padding-bottom: 0;
  }

  .intro__title {
    margin-bottom: 0;
    grid-area: 1/1/2/1;
    padding: 0 0 62px 67px;
    letter-spacing: 2.6px;
    text-align: left;
  }

  .intro__reviews {
    padding: 11px 14px 0 185px;;
    grid-area: 1/2/2/3;
  }

  .reviews__text {
    margin-bottom: 46px;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }

  .reviews__footer {
    display: block;
    letter-spacing: 0.9px;
    font-size: 21px;
    line-height: 25px;
  }
}
