.logo {
  max-width: max-content;
}

.logo__wrap {

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {

  .logo__wrap {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {

  .logo__wrap {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
