.main-nav {
  position: relative;
  /*width: 100%;*/
  padding-top: var(--header-min-height);
  text-align: center;
  background-color: var(--basic-white);
  outline: 3px solid greenyellow;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 10px;
}

.service-list {
  margin-bottom: 63px;
  padding-top: 42px;
  padding-left: 1px;
}

.main-services {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: var(--black-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-contacts__link {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-contacts__login {
  margin-bottom: 70px;
}

.nav-contacts__number {
  margin-bottom: 15px;
  margin-right: 30px;
  letter-spacing: 0;
}

.nav-contacts__mail {
  padding-left: 29px;
  letter-spacing: 0.3px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    text-align: left;
  }

  .main-nav__toggle {
    right: 43%;
    top: 9%;
  }

  .service-list {
    margin-bottom: 156px;
    padding-top: 48px;
    padding-left: 58px;
  }

  .main-services {
    font-size: 60px;
    line-height: 71px;
  }

  .main-nav__destinations {
    letter-spacing: 1.5px;
  }

  .nav-contacts__login {
    position: absolute;
    top: 50px;
    right: 31px;
    font-size: 20px;
    letter-spacing: 0.7px;
  }

  .nav-contacts__number,
  .nav-contacts__mail {
    padding: 0 0 0 148px;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 1px;
  }

  .nav-contacts__number {
    margin-bottom: 37px;
  }

  .nav-contacts__mail {
    letter-spacing: 1.4px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }
}



