.plans {
  position: relative;
  margin-bottom: -26px;
  background-color: var(--extra-light-blue-2);
  border-radius: 30px 30px 0 0;
  z-index: -3;
}

.plans__wrap {
  padding: 7px 0 50px 0;
  font-size: 14px;
  font-weight: 500;
}

.plans__title {
  margin: 0;
  padding: 20px 0 30px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--special-blue);
}

.plans__list {
  margin: 0;
  padding: 0;
}

.plans__item {
  margin-bottom: 8px;
  position: relative;
  padding: 24px;
  background-color: var(--basic-white);
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.plans__number {
  position: absolute;
  top: 24px;
  left: 24px;
}

.plans__countries {
  margin: 0;
  padding: 0 0 19px 17px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--special-blue);
}

.plans__people,
.plans__date {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--special-blue);
}

.plans__people {
  padding-bottom: 3px;
}

.plans__date {
  padding-bottom: 22px;
}

.plans__edit {
  text-transform: uppercase;
  color: var(--basic-black);
  letter-spacing: 1px;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .plans__wrap {
    padding-bottom: 70px;
    font-size: 20px;
  }

  .plans__title {
    margin-bottom: 50px;
    padding-top: 47px;
    padding-bottom: 0;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }

  .plans__list {

  }

  .plans__item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    padding: 40px 35px 19px 40px;
    border-radius: 10px;

    &:last-of-type {
      margin-bottom: 27px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 64%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--basic-gray);
      opacity: 0.3;
    }
  }

  .plans__number {
    justify-self: self-end;
    position: static;
    top: 0;
    right: 0;
  }

  .plans__countries {
    grid-area: 1/1/2/3;
    padding: 0 0 0 0;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  .plans__people,
  .plans__date,
  .plans__edit {
    align-self: center;
    padding: 49px 0 0 0;
    max-height: 20px;
  }

  .plans__people {
    grid-area: 2/1/3/2;
    letter-spacing: 2.3px;
  }

  .plans__date {
    grid-area: 2/2/3/3;
    letter-spacing: 2px;

    .plans__item:last-of-type & {
      padding-left: 18px;
    }
  }

  .plans__edit {
    grid-area: 2/3/3/4;
    justify-self: self-end;
    align-self: self-end;
    padding-top: 0;
    letter-spacing: 3px;
  }

}

@media (min-width: $desktop-width) {
  .plans {
    margin-bottom: -50px;
    border-radius: 54px 54px 0 0;
  }

  .plans__wrap {
    padding: 0 0 87px 124px;
  }

  .plans__title {
    margin: 0 0 55px 0;
    padding: 47px 0 0 8px;
  }

  .plans__list {
    width: 1258px;
  }

  .plans__item {
    margin-bottom: 14px;
    padding: 34px 40px 40px 43px;

    &:last-of-type {
      margin-bottom: 27px;
    }

    &::before {
      display: none;
    }
  }

  .plans__number {
    position: static;
    grid-area: 1/1/2/2;
    justify-self: self-start;
    padding: 0;
  }

  .plans__countries {
    grid-area: 1/1/2/2;
    padding-left: 50px;
    min-width: 207px;
    letter-spacing: 1px;

    .plans__item:last-of-type & {
      min-width: 222px;
    }
  }

  .plans__people,
  .plans__date,
  .plans__edit {
    padding: 0;
  }

  .plans__people {
    grid-area: 1/2/2/3;
    justify-self: self-start;
    padding-left: 158px;
    min-width: 145px;
    max-width: 0;

    .plans__item:last-of-type & {
      padding-left: 141px;
    }
  }

  .plans__date {
    grid-area: 1/2/2/4;
    justify-self: center;
    padding-left: 106px;
    max-width: 0;
    min-width: 190px;
    letter-spacing: 2.4px;

    .plans__item:last-of-type & {
      padding: 0 0 0 91px;
      letter-spacing: 2.6px;
    }
  }

  .plans__edit {
    margin-left: auto;
    grid-area: 1/3/2/4;
    letter-spacing: 2.2px;
  }
}
