.search {
  position: relative;
  margin-bottom: 28px;
  grid-row: 3/4;
  z-index: -3;
}

.search__wrap {
  padding: 38px 0 0 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.search__form {
  padding: 0 25px 20px 25px;
  background-color: var(--white-yellow);
  border-radius: 20px;
}

.search__title {
  margin: 0;
  padding: 25px 78px 24px 0;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: var(--special-blue);
}

.search__field {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -43px;
    height: 1px;
    min-width: 220px;
    width: 100%;
    background-color: var(--one-more-yellow);
  }
}

.legend {
  padding: 12px 0 10px 0;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--special-blue);
}

.legend__colon {
  display: none;
}

.food__legend {
  padding-bottom: 10px;
}

.hobby__wrap,
.music__wrap,
.food__wrap,
.transport__wrap,
.level__wrap {
  position: relative;
  display: none;
}

.hobby-btn,
.music-btn,
.food-btn,
.transport-btn,
.level-btn {
  display: none;
}

.search-label {
  position: absolute;
  top: -22px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 4px solid var(--black-blue);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  cursor: pointer;
  z-index: 20;
  -webkit-tap-highlight-color: transparent;
}

.search-input:checked ~ .search-label {
  top: -27px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--black-blue);
}

.hobby-btn:checked ~ .hobby__wrap,
.music-btn:checked ~ .music__wrap,
.level-btn:checked ~ .level__wrap,
.food-btn:checked ~ .food__wrap {
  display: flex;
  flex-flow: column wrap;
}

.transport-btn:checked ~ .transport__wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 23px;
}

.level__wrap {
  padding: 0 0 0 0;
}

.label {
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--basic-black);
}

.music__legend {
  padding-bottom: 13px;
}

.music__label:last-of-type {
  padding-bottom: 17px;
}

.check {
  display: block;
  margin-bottom: 11px;
  padding-left: 28px;
  letter-spacing: -0.6px;

  &:nth-of-type(3n) {
    margin-bottom: 20px;
  }
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-left: -1.7em;
  width: 1.1em;
  height: 1.1em;
  overflow: hidden;
  border-radius: 0.2em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.check__input:checked + .check__box {
  background-image: url("../../icons/check-mark.svg");
}

.check:hover {
  opacity: 0.6;
}

.check:active {
  opacity: 0.3;
}

.transport__label {
  width: 31px;
  height: 31px;
  background-color: var(--basic-white);
  border-radius: 50%;

  &:hover {
    filter: drop-shadow(0 2px 6px hsla(228, 41%, 15%, 0.17));
  }

  &:active {
    background-color: var(--super-blue);
  }
;
}

.back {
  display: block;
  width: 100%;
  height: 100%;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 17px 16px;
  background-color: var(--extra-gray);
}

.back:hover,
.transport__checkbox:checked:hover ~ .back {
  opacity: 0.6;
}

.back:hover,
.transport__checkbox:checked:active ~ .back {
  opacity: 0.3;
}

.transport__checkbox:checked ~ .back {
  background-color: var(--special-blue);
}

.plane__back {
  mask-image: url("../../icons/plane-svg.svg");
  mask-position: 41% 50%;
  mask-size: 14px 16px;
}

.bus__back {
  mask-image: url("../../icons/bus-svg.svg");
}

.bike__back {
  mask-image: url("../../icons/bicycle-svg.svg");
}

.on-foot__back {
  mask-image: url("../../icons/walk-svg.svg");
}

.level__range {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 0 23px 0;
}

.level__range:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 47%;
  width: 16px;
  height: 1px;
  background-color: var(--new-gray);
  box-shadow: 0 0 0 6px var(--basic-white);
}

.min,
.max {
  width: 111px;
  min-height: 35px;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: var(--special-blue);
  box-sizing: border-box;
  text-align: center;
}

.min {
  margin-right: -1px;
  border: 1.5px solid var(--new-gray);
  border-radius: 5px 0 0 5px;
}

.max {
  border: 1px solid var(--basic-gray);
  border-radius: 0 5px 5px 0;
}

.level__slider {
  margin: 0 0 25px 0;
  position: relative;
  min-width: 220px;
  height: 2px;
  background-color: var(--special-blue-20);
}

.level__bar {
  position: absolute;
  top: 0;
  right: 5px;
  width: 145px;
  height: 2px;
  background-color: var(--special-blue);

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    width: 10px;
    height: 10px;
    background-color: var(--special-blue);
    border-radius: 50%;
    cursor: pointer;
  }

  &:before {
    left: -4px;
  }

  &:after {
    right: -3px;
  }
}

.search__btn {
  display: inline-block;
  padding: 13px 76px 13px 73px;
  box-sizing: border-box;
  min-width: 220px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  color: var(--basic-blue);
  border-radius: 25px;
  background-color: var(--basic-white);
  transform: translateX(-5px);
  border: none;
}

@media (min-width: $tablet-width) {
  .search {
    margin-bottom: 41px;

  }
  .search__wrap {
    font-size: 20px;
  }

  .search__title {
    padding: 34px 78px 55px 0;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.3px;
  }

  .search__form {
    position: relative;
    padding: 0 35px;
  }

  .search__field {
    max-height: 50px;

    &::before {
      display: none;
    }

    &:nth-of-type(4) {
      padding-bottom: 6px;
    }

    &:last-of-type {
      padding: 0 0 86px 0;
    }
  }

  .search-label {
    display: none;
  }

  .wrap,
  .search-input:checked ~ .wrap {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 160px;
    max-width: 457px;
  }

  .transport__wrap,
  .transport-btn:checked ~ .transport__wrap {
    gap: 2px;
    padding-left: 120px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .level__wrap,
  .level-btn:checked ~ .level__wrap {
    flex-flow: row-reverse wrap;
    align-items: center;
    gap: 66px;
    padding-left: 68px;
    max-width: 547px;
  }

  .legend {
    display: block;
    padding: 0;
    transform: translateY(22px);
    line-height: 20px;
    font-weight: 500;
  }

  .transport__legend {
    transform: translateY(31px);
  }

  .check {
    padding-left: 0;
    padding-bottom: 0;
    min-width: 170px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
  }

  .check__box {
    width: 1.2em;
    height: 1.2em;
  }

  .legend__colon {
    display: inline;
  }

  .hobby__wrap {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -35px;
      left: 3px;
      min-width: 617px;
      width: 100%;
      height: 2px;
      background-color: var(--one-more-yellow);
    }
  }

  .transport__label {
    width: 43px;
    height: 43px;
  }

  .level__legend {
    transform: translateY(32px);
  }

  .level__wrap {
    position: relative;
    flex-direction: row-reverse;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -17px;
      min-width: 617px;
      width: 100%;
      height: 2px;
      background-color: var(--one-more-yellow);
    }
  }

  .level__range {
    &::before {
      left: 63px;
      width: 21px;
      box-shadow: 0 0 0 8px var(--basic-white);
    }
  }

  .min,
  .max {
    width: 74px;
    height: 46px;
    font-size: 20px;
    line-height: 20px;
  }

  .min {
    border-right: 2px solid var(--new-gray);
  }

  .level__slider {
    width: 275px;
    height: 3px;
  }

  .level__bar {
    width: 166px;
    height: 3px;

    &::before,
    &::after {
      top: -4px;
      width: 13px;
      height: 13px;
    }

    &::before {
      left: -8px;
    }
  }

  .search__btn {
    margin: 0 0 36px 0;
    padding: 18px 264px 16px 261px;
    letter-spacing: 0.7px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    order: 2;
    grid-area: 3/2/4/3;
    margin-right: 60px;
  }

  .search__wrap {
    padding: 0 0 0 0;
    letter-spacing: 1px;
    border-radius: 20px;
  }

  .search__title {
    padding: 23px 78px 36px 1px;
  }

  .search__form {
    margin: 0;
    padding: 20px 45px 0 48px;
    box-sizing: border-box;
    max-width: 285px;
  }

  .search__field {
    position: relative;
    padding: 0 0 19px 0;
    max-height: initial;

    &:nth-of-type(4) {
      padding: 0 0 19px 0;
    }

    &:last-of-type {
      padding: 0 0 17px 0;
    }
  }

  .legend {
    line-height: 22px;
    letter-spacing: 0.5px;
    transform: translateY(0);
  }

  .check:nth-of-type(3n) {
  margin-bottom: 15px;
}

  .hobby-btn:checked ~ .hobby__legend,
  .music-btn:checked ~ .music__legend,
  .food-btn:checked ~ .food__legend {
    padding-bottom: 25px;
  }
  .level-btn:checked ~ .level__legend,
  .transport-btn:checked ~ .transport__legend {
    padding-bottom: 18px;
  }

  .legend__colon {
    display: none;
  }

  .wrap {
    position: relative;
    display: none;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .search-input {
    display: none;
  }

  .search-label {
    position: absolute;
    display: block;
    top: -14px;
    right: 2px;
    cursor: pointer;
    z-index: 20;
  }

  .search-input:checked ~ .search-label {
    top: -43px;
    right: 14px;
  }

  .transport-btn:checked ~ .transport-show,
  .level-btn:checked ~ .level-show {
    top: -36px;
    right: 2px;
  }

  .search-input:checked ~ .wrap {
    display: flex;
    flex-flow: column wrap;
    gap: 9px;
    padding-left: 34px;
    padding-bottom: 0;
  }

  .transport-btn:checked ~ .transport__wrap {
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
    padding-bottom: 29px;
    padding-left: 0;
  }

  .transport__label {
    width: 44px;
  }

  .back {
    mask-size: 22px 22px;
  }

  .level-btn:checked ~ .level__wrap {
    padding-left: 0;
  }

  .level__wrap {
    padding: 0 0 0 0;
  }

  .label {
    letter-spacing: 0;
  }

  .level__range {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding: 0 0 26px 0;

    &::before {
      top: 19px;
      left: 84px;
    }
  }

  .min,
  .max {
    width: 96px;
    min-height: 46px;
    box-sizing: border-box;
    text-align: center;
  }

  .min {
    margin-right: -1px;
    border: 1.5px solid var(--new-gray);
    border-radius: 5px 0 0 5px;
  }

  .max {
    border: 1px solid var(--basic-gray);
    border-radius: 0 5px 5px 0;
  }

  .level__slider {
    margin: 0 0 25px 0;
    position: relative;
    min-width: 189px;
    width: 100%;
    height: 3px;
    background-color: var(--special-blue-20);
  }

  .level__bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 131px;
    height: 3px;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .search__btn {
    margin: 0 0  48px 5px;
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 43px 17px 47px;
    min-width: 192px;
    letter-spacing: -0.2px;
    border-radius: 25px;
  }
}
