<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>country-filter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="filter">
      <div class="page__center">
        <div class="filter__container">
          <h2 class="filter__tittle">Фильтрация по странам:</h2>
          <button class="filter__toggle" type="button">
            <span class="filter__open">показать все</span>
            <span class="filter__close">свернуть</span>
          </button>
        </div>
        <div class="filter__modal modal">
          <ul class="filter__list continents page-list">
            <li class="continents__item">Европа</li>
            <li class="continents__item">Азия</li>
            <li class="continents__item">америка</li>
            <li class="continents__item">острова</li>
          </ul>
          <ul class="filter__list alphabet">
            <li class="alphabet__item-row">
              <ul class="alphabet__list">
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">A</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="islands/australia">Австралия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="europe/austria">Австрия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="asia/azerbaijan">Азербайджан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="europe/albania">Албания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="africa/algeria">Алжир</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="africa/angola">Ангола</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="europe/andorra">Андора</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="islands/antigua-and-barbuda">Антигуа и Барбуда</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="south-america/argentine">Аргентина</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="asia/armenia">Армения</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="asia/afghanistan">Афганистан</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Б</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Багамские Острова</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бангладеш</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Барбадос</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бахрейн</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Белоруссия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Белиз</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бельгия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бенин</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Болгария</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Боливия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Босния и Герцеговина</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ботсвана</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бразилия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бруней</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Буркина-Фасо</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бурунди</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Бутан</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">В</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Вануату</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Великобритания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Венгрия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Венесуэла</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Восточный Тимор</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Вьетнам</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Г</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Габон</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гаити</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гайана</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гамбия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гана</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гватемала</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гвинея</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гвинея-Бисау</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Германия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гондурас</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Гренада</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Греция</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Грузия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Д</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Дания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Джибути</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Доминика</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Доминикана</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="alphabet__item-row">
              <ul class="alphabet__list">
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Е</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Египет</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Ж</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Замбия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Зимбабве</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">З</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Израиль</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Индия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Индонезия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Иордания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ирак</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Иран</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ирландия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Исландия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Испания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Италия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">К</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Кабо-Верде</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Казахстан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Камбоджа</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Камерун</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Канада</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Катар</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Кения</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Кипр</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Киргизия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Кирибати</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Китай</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Колумбия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Л</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Лаос</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Латвия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Лесото</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Либерия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ливан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ливия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Литва</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Лихтенштейн</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Люксембург</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="alphabet__item-row">
              <ul class="alphabet__list">
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">М</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Маврикий</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Мавритания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Мадагаскар</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Малави</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Малайзия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Мали</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Мальдивы</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Мальта</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Марокко</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Н</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Намибия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Науру</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Непал</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Нигер</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Нигерия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Нидерланды</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Никарагуа</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Новая Зеландия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Норвегия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">О</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">ОАЭ</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Оман</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">П</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Пакистан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Палау</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Панама</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Папуа - Новая Гвинея</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Парагвай</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Перу</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Польша</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Португалия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Р</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Руанда</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Румыния</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Россия</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="alphabet__item-row">
              <ul class="alphabet__list">
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">С</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сальвадор</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Самоа</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сан-Марино</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Саудовская Аравия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сейшелы</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сенегал</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сербия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сингапур</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Сирия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Словакия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Словения</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">США</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Т</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Таджикистан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Таиланд</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Танзания</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Того</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Тонга</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Тринидад и Тобаго</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Тувалу</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Тунис</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Туркмения</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Турция</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">У</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Уганда</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Узбекистан</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Украина</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Уругвай</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Ф</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Фиджи</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Филиппины</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Финляндия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Франция</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Х</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Хорватия</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="alphabet__item-row">
              <ul class="alphabet__list">
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Ч</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Чад</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Черногория</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Чехия</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Чили</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Ш</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Швейцария</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Швеция</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Шри-Ланка</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Э</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Эквадор</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Эритрея</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Эсватини</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Эстония</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Эфиопия</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Ю</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">ЮАР</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Южный Судан</a></li>
                  </ul>
                </li>
                <li class="alphabet__item-cell">
                  <button class="alphabet__btn button" type="button">Я</button>
                  <ul class="alphabet__list-sorted">
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Ямайка</a></li>
                    <li class="alphabet__sorted-item"><a class="alphabet__location page__link" href="#">Япония</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="filter__filtered-list">
            <li class="filter__sorted-item"><a class="filter__location page__link" href="islands/australia">Австралия</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="europe/austria">Австрия</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="asia/azerbaijan">Азербайджан</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="europe/albania">Албания</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="africa/algeria">Алжир</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="africa/angola">Ангола</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="europe/andorra">Андора</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="islands/antigua-and-barbuda">Антигуа и Барбуда</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="south-america/argentine">Аргентина</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="asia/armenia">Армения</a></li>
            <li class="filter__filtered-item"><a class="filter__location page__link" href="asia/afghanistan">Афганистан</a></li>
          </ul>
          <button class="filter__close page__button" type="button">Свернуть</button>
        </div>
      </div>
    </section>
  </body>
</html>
