<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="search">
      <div class="page__center">
        <h2 class="search__title">Подберите идеального попутчика</h2>
        <form class="search__form" action="https://echo.htmlacademy.ru" method="post">
          <fieldset class="search__field hobby">
            <legend class="hobby__legend">хобби:</legend>
            <div class="hobby__wrap">
              <input class="hobby__gym page__hidden" id="gym" type="checkbox" checked>
              <label class="hobby__label" for="gym">Спортзал</label>
              <input class="hobby__hookah page__hidden" id="hookah" type="checkbox">
              <label class="hobby__label" for="hookah">Кальян</label>
              <input class="hobby__sofa page__hidden" id="sofa" type="checkbox">
              <label class="hobby__label" for="sofa">Диван</label>
            </div>
          </fieldset>
          <fieldset class="search__field music">
            <legend class="music__legend">музыка:</legend>
            <div class="music__wrap">
              <input class="music__rock page__hidden" id="rock" class="music__rock page__hidden" type="checkbox" checked>
              <label class="music__label" for="rock">Тяжелый рок</label>
              <input class="music__rap page__hidden" id="rap" type="checkbox">
              <label class="music__label" for="rap">Русский рэп</label>
              <input class="music__euro-dance page__hidden" id="euro-dance" type="checkbox">
              <label class="music__label" for="euro-dance">Евроденс</label>
            </div>
          </fieldset>
          <fieldset class="search__field food">
            <legend class="food__legend">еда:</legend>
            <div class="food__wrap">
              <input class="food__meat page__hidden" id="meat" type="checkbox" checked>
              <label class="food__label" for="meat">Мясоед</label>
              <input class="food__pp page__hidden" id="pp" type="checkbox">
              <label class="food__label" for="pp">Сидит на ПП</label>
              <input class="food__vegan page__hidden" id="vegan" type="checkbox">
              <label class="food__label" for="vegan">Веган-сыроед</label>
            </div>
          </fieldset>
          <fieldset class="search__field transport">
            <legend class="transport__legend">транспорт:</legend>
            <div class="transport__wrap">
              <label class="transport__label">
                <input class="transport__plane page__hidden" type="checkbox" checked>
                <span class="plane"></span>
              </label>
              <label class="transport__label">
                <input class="transport__car page__hidden" type="checkbox" checked>
                <span class="car"></span>
              </label>
              <label class="transport__label">
                <input class="transport__bike page__hidden" type="checkbox">
                <span class="bike"></span>
              </label>
              <label class="transport__label">
                <input class="transport__on-foot page__hidden" type="checkbox" checked>
                <span class="on-foot"></span>
              </label>
            </div>
          </fieldset>
          <fieldset class="search__field level">
            <legend class="level__legend">левел:</legend>
            <div class="level__wrap level__toggle">
              <div class="level__range">
                <input class="level__min" value="30">
                <input class="level__max" value="100">
              </div>
              <div class="level__slider">
                <div class="level__bar"></div>
                <div class="level__new-plane-toggle"></div>
                <div class="level__second-toggle"></div>
              </div>
            </div>
          </fieldset>
          <input class="search__btn" type="submit" value="Показать" aria-label="Показать результаты">
        </form>
      </div>
    </section>
  </body>
</html>
