$mobile-only: 767.5px;
$tablet-width: 768px;
$desktop-width: 1440px;
$not-desktop: 1439px;


:root {
  --light-pink: hsla(0, 56%, 95%, 1);
  --slightly-pink: hsla(0, 73%, 91%, 1);
  --trasparent: hsla(50, 33%, 25%, 1.00);
  --basic-white: hsla(0, 0%, 100%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --basic-pink: hsla(344, 68%, 49%, 1);
  --basic-red: hsla(0, 100%, 50%, 1);
  --basic-green: hsla(90, 78%, 50%, 1);
  --light-red: hsla(0, 92%, 72%, 1);
  --very-light-red: hsla(0, 84%, 73%, 1);
  --slightly-red: hsla(0, 100%, 97%, 1);
  --basic-black: hsla(0, 0%, 0%, 1);
  --basic-black-transparent: hsla(0, 0%, 0%, 0.6);
  --light-black: hsla(0, 0%, 0%, 0.1);
  --new-blue: hsla(229, 48%, 18%, 1);
  --black-blue: hsla(229, 46%, 18%, 1);
  --super-blue: hsla(228, 35%, 92%, 1);
  --sky-blue: hsla(225, 35%, 87%, 1);;
  --basic-blue: hsla(228, 41%, 15%, 1);
  --dark-blue: hsla(228, 50%, 14%, 1);
  --origin-blue: hsla(229, 49%, 15%, 1);
  --very-dark-blue: hsla(224, 60%, 16%, 1);
  --special-blue: hsla(224, 52%, 24%, 1);
  --special-blue-30: hsla(224, 52%, 24%, 0.3);
  --special-blue-20: hsla(224, 52%, 24%, 0.2);
  --middle-blue: hsla(229, 72%, 27%, 1);
  --special-orange: hsla(27, 98%, 60%, 1);
  --light-orange: hsla(16, 100%, 57%, 1);
  --white-orange: hsla(34, 100%, 59%, 1);
  --extra-orange: hsla(20, 89%, 55%, 1);
  --special-yellow: hsla(41, 100%, 59%, 1);
  --extra-yellow: hsla(27, 100%, 59%, 1);
  --origin-gray: hsla(0, 0%, 27%, 1);
  --origin-gray-transparent: hsla(0, 0%, 27%, 0.8);
  --white-gray: hsla(0, 0%, 77%, 1);
  --extra-gray: hsla(0, 0%, 85%, 1);;
  --next-gray: hsla(0, 0%, 80%, 1);
  --white-yellow: hsla(47, 100%, 65%, 1);
  --one-more-yellow: hsl(47, 89%, 56%, 1);
  --light-blue: hsla(229, 28%, 92%, 1);
  --light-blue-2: hsla(229, 38%, 92%, 1);
  --exclusive-blue: hsla(223, 6%, 77%, 1);
  --extra-light-blue-2: hsla(226, 36%, 91%, 1);
  --extra-light-blue: hsla(225, 15%, 90%, 1);
  --very-light-blue: hsla(227, 33%, 95%, 1);
  --one-more-gray: hsla(230, 39%, 88%, 1);
  --one-more-blue: hsla(227, 37%, 88%, 1);
  --one-blue-trasnparent: hsla(227, 37%, 88%, 0.25);
  --basic-gray: hsla(227, 16%, 82%, 1);
    --slightly-blue: hsla(229, 24%, 87%, 1);
  --slightly-gray: hsla(0, 0%, 60%, 1);
  --extrim-gray: hsla(0, 0%, 90%, 1);
  --new-gray: hsla(228, 16%, 64%, 1);
  --exciting-blue: hsla(228, 22%, 74%, 1);
  --trasparent: hsl(0, 0%, 0%, 0);
  --super-light-blue: hsla(228, 26%, 96%, 1);
  --header-min-height: 73px;
  --for-shadow: hsla(224, 52%, 24%, 0.14);
  --for-shadow-card: hsla(0, 0%, 0%, 0.16);
  --for-shadow-slider: hsla(0, 0%, 0%, 0.24);

  @media (min-width: $tablet-width) {
    --header-min-height: 132px;
  }

  @media (min-width: $desktop-width) {
    --header-min-height: 90px
  }
}
