$mobile-only: 659.5px;
$tablet-width: 768px;
$desktop-width: 1440px;
$not-desktop: 1439px;


:root {
  --light-pink: hsla(0, 56%, 95%, 1);
  --trasparent: hsla(50, 33%, 25%, 1.00);
  --basic-white: hsla(0, 0%, 100%, 1);
  --basic-pink: hsla(344, 68%, 49%, 1);
  --basic-green: hsla(90, 78%, 50%, 1);
  --light-red: hsla(0, 92%, 72%, 1);
  --basic-black: hsla(0, 0%, 0%, 1);
  --basic-black-transparent: hsla(0, 0%, 0%, 0.6);
  --new-blue: hsla(229, 48%, 18%, 1);
  --black-blue: hsla(229, 46%, 18%, 1);
  --basic-blue: hsla(228, 41%, 15%, 1);
  --origin-blue: hsla(229, 49%, 15%, 1);
  --special-blue: hsla(224, 52%, 24%, 1);
  --special-blue-20: hsla(224, 52%, 24%, 0.2);
  --middle-blue: hsla(229, 72%, 27%, 1);
  --special-orange: hsla(27, 98%, 60%, 1);
  --white-orange: hsla(34, 100%, 59%, 1);
  --special-yellow: hsla(41, 100%, 59%, 1);
  --origin-gray: hsla(0, 0%, 27%, 1);
  --white-gray: hsla(0, 0%, 77%, 1);
  --white-yellow: hsla(47, 100%, 65%, 1);
  --one-more-yellow: hsl(47, 89%, 56%, 1);
  --light-blue: hsla(229, 28%, 92%, 1);
  --light-blue-2: hsla(229, 38%, 92%, 1);
  --extra-light-blue: hsla(225, 15%, 90%, 1);
  --very-light-blue: hsla(227, 33%, 95%, 1);
  --one-more-gray: hsla(230, 39%, 88%, 1);
  --basic-gray: hsla(227, 16%, 82%, 1);
  --new-gray: hsla(228, 16%, 64%, 1);
  --trasparent: hsl(0, 0%, 0%, 0);
  --header-min-height: 73px;

  @media (min-width: $tablet-width) {
    --header-min-height: 132px;
  }
}
