<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
  </head>
  <body class="page__body">
    <footer class="page-footer footer">
      <div class="page__center">
        <p class="footer__text"><strong></strong>Погнали?</p>
        <div class="footer__part social">
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link social__link--fb" href="https://www.facebook.com/htmlacademy">
                <span class="page__hidden">Мы в Facebook</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--vk" href="https://vk.com/htmlacademy">
                <span class="page__hidden">Мы Вконтакте</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--inst" href="https://www.instagram.com/htmlacademy/?hl=ru">
                <span class="page__hidden">Мы в Instagram</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__part copyright ">
          <span class="copyright__text">Разработано</span>
          <a class="copyright__link link" href="https://htmlacademy.ru/intensive/htmlcss" aria-label="Логотип компании"></a>
        </div>
      </div>
    </footer>
  </body>
</html>
