<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>travel-companions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="companions">
      <div class="page__center">
        <h2 class="companions__title">Попутчики</h2>
        <p class="companions__text">Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.</p>
        <p class="companions__slogan"><strong>Теперь можно легко найти единомышленников!</strong></p>
        <article class="companions__people person">
          <div class="person__bar bar">
            <div class="bar__group value-99">
              <span class="bar__label">99</span>
              <span class="bar__level">level</span>
              <div class="bar__full-circle">
                <div class="bar__circle left-side"></div>
                <div class="bar__circle right-side"></div>
              </div>
              <div class="bar__shadow"></div>
            </div>
          </div>
          <div class="person__wrap">
            <ul class="person__flags-list">
              <li class="person__flag-item"></li>
              <li class="person__flag-item"></li>
              <li class="person__flag-item"></li>
            </ul>
            <a class="person__name" href="#">Таня Фирсова</a>
            <p class="person__hashtag">#ЗОЖ #ПП #Фитнес #пляж #авокадо #смузи</p>
            <ul class="person__ways-list">
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
            </ul>
          </div>
        </article>
        <article>
          <div class="person__bar bar">
            <div class="bar__group value-80">
              <span class="bar__label">80</span>
              <span class="bar__level">level</span>
              <div class="bar__full-circle">
                <div class="bar__circle left-side"></div>
                <div class="bar__circle right-side"></div>
              </div>
              <div class="bar__shadow"></div>
            </div>
          </div>
          <div class="person__wrap">
            <ul class="person__flags-list">
              <li class="person__flag-item"></li>
              <li class="person__flag-item"></li>
              <li class="person__flag-item"></li>
            </ul>
            <a class="person__name" href="#">Петя Демин</a>
            <p class="person__hashtag">#бургер #бар #футбол #концерт #крафт</p>
            <ul class="person__ways-list">
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
              <li class="person__way-item"></li>
            </ul>
          </div>
        </article>
      </div>
      <a class="companions__show-all link" href="#">Показать всех</a>
    </section>
  </body>
</html>
