<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Actions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="actions">
      <div class="page__center">
        <ol class="actions__list page__list">
          <li class="actions__item">
            Выберите направление
            <span class="actions__number">1</span>
          </li>
          <li class="actions__item">
            Изучите идеи путешественников
            <span class="actions__number">2</span>
          </li>
          <li class="actions__item">
            Находите тех, кто похож на вас
            <span class="actions__number">3</span>
          </li>
          <li class="actions__item">
            Путешествуйте вместе!
            <span class="actions__number">4</span>
          </li>
        </ol>
      </div>
    </section>
  </body>
</html>
