<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
    <title>header</title>
  </head>
  <body>
    <header class="page-header">
      <a class="page-header__logo logo">Погнали?</a>
      <div class="page-header__wrapper page__center"></div>
      <nav class="main-nav main-nav--no-js page-header__nav">
        <button class="main-nav__toggle" type="button">buttonMENU(to be deleted)
          <span class="page__hidden">Открыть меню</span>
        </button>
        <ul class="main-nav__list contacts">
          <li class="contacts__item">
            <a class="contacts-link" href="tel:+78125556666">
              <span class="page__hidden">Номер телефона</span>
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts-link" href="mailto:mail@htmlacademy.ru">
              <span class="page__hidden">Почта</span>
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts-link" href="login.html">Авторизация</a>
          </li>
        </ul>
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__service" href="index.html" aria-current="page">О сервисе</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__destinations" href="form.html">Напрвления</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__companions" href="catalog.html">Попутчики</a>
          </li>
        </ul>
        <a class="main-nav__phone" href="tel:+78125556666"></a>
        <a class="main-nav__email" href="mailto:mail@htmlacademy.ru"></a>
        <div class="main-nav__social social">
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link social__link--fb" href="https://www.facebook.com/htmlacademy">
                <span class="page__hidden">Мы в Фейсбуке</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--vk" href="https://vk.com/htmlacademy">
                <span class="page__hidden">Мы Вконтакте</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--inst" href="https://www.instagram.com/htmlacademy/">
                <span class="page__hidden">Мы в инстаграм</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
