<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>about-us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="about-us">
      <div class="page__center">
        <h2 class="about-us__title">О сервисе</h2>
        <p class="about-us__text">Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.</p>
        <p class="about-us__text about-us__text--bold">А если найдете кого-то близкого по духу — скорее зовите в совместный трип!</p>
        <a class="about-us__more link" href="#">Подробнее</a>
      </div>
    </section>
  </body>
</html>
