<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="intro">
      <h2 class="page__hidden">Отзывы пользователей</h2>
      <div class="page__center">
        <strong class="intro__title">В путешествие с крутыми попутчиками!</strong>
        <ul class="intro__list page-list">
          <li class="intro__item">
            <a class="intro__phone page__link" href="tel:+78125556666">
              <span class="page__hidden">Номер телефона</span>
            </a>
          </li>
          <li class="intro__item">
            <a class="intro__mail page__link" href="mailto:mail@htmlacademy.ru">
              <span class="page__hidden">Почта</span>
            </a>
          </li>
          <li class="intro__item">
            <a class="intro__auto page__link" href="login.html">Авторизация</a>
          </li>
        </ul>
        <blockquote class="intro__reviews reviews">
          <p class="reviews__text"><q>Лучшее приложение, что я видел в жизни!</q></p>
          <cite class="reviews__footer">Мурат Эльтази главный редактор газеты "гаджетлайф"</cite>
        </blockquote>
      </div>
    </section>
  </body>
</html>
