<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>directions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../source/css/style.css">
  </head>
  <body class="page__body">
    <section class="directions">
      <div class="page__center">
        <h2 class="directions__title">Направления</h2>
        <p class="directions__text">Мы не продаем туры и ничего не рекламируем. Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.</p>
        <article class="directions__tai card">
          <div class="card__wrap">
            <picture></picture>
            <b class="card__tittle">Тайланд</b>
            <p class="card__text">Джунгли зовут!</p>
            <span class="card__count">
              18321
            </span>
          </div>
        </article>
        <article class="directions__france card">
          <div class="card__wrap">
            <picture></picture>
            <b class="card__tittle">Франция</b>
            <p class="card__text">Трэ бьен, манифик!</p>
            <span class="card__count">
              12518
            </span>
          </div>
        </article>
        <article class="directions__czech card">
          <div class="card__wrap">
            <picture></picture>
            <b class="card__tittle">Чехия</b>
            <p class="card__text">Закоулки старой Европы</p>
            <span class="card__count">
              5326
            </span>
          </div>
        </article>
        <a class="directions__show-all link" href="#">Показать все</a>
      </div>
    </section>
  </body>
</html>
