<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../source/css/style.css">
  </head>
  <body class="page__body">
  <section class="map">
    <h2 class="page__hidden">Как до нас добраться</h2>
    <div class="page__center">
      <a class="map__link" href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/bolshaya_konyushennaya_ulitsa_19_8/Z0kYdQVjSEQPQFtjfXVyeXpgYQ==/inside/?ll=30.323117%2C59.938635&tab=inside&utm_medium=mapframe&utm_source=maps&z=16" style="color:#eee;font-size:12px;position:absolute;top:14px;">Большая Конюшенная улица, 19/8 — Яндекс.Карты</a>
      <iframe class="map__frame" src="https://yandex.ru/map-widget/v1/-/CCUmr2vakA" allowfullscreen loading="lazy"></iframe>
    </div>
  </section>
  </body>
</html>
